.cartitem{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartitem > img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.cartitem__rating{
    display: flex;
}

.cartitem__info{
    padding-left: 20px;
}

.cartitem__info > button{
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    border: 1px solid;
    margin-top: 10px;
    color: #111;
}

.cartitem__title{
    font-weight: 800px;
}
